<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Technical Test| e-commerce</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
        <link href="/css/styles.css" rel="stylesheet">

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                <i class="shopping cart icon"></i>
                    e-store
                </div>
                <a href="/" class="item">Home</a>
                <a href="/product/new" class="item">Add Product</a>
            </div>
            
        </div>
    
   