<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Add Product</div>
    <form class="ui form" action="/product" method="POST">

    <div class="field">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="title">    
    </div>

    <div class="field">
    <label for="description">Description</label>
    <textarea name="desc" placeholder="description" rows="10" cols="10"></textarea>
       
    </div>

    <div class="field">
    <label for="price">Price</label>
    <input type="text" name="price" placeholder="price">        
    </div>

    <div class="field">
    <label for="category">Category</label>
    <input type="text" name="category" placeholder="category">
    </div>

    

    <div class="field">
    <label for="image">Image</label>
    <input type="text" name="image" placeholder="image URL" id="img">        
    </div>

    <div class="field">
    <label for="color" >Color</label>
       
    <select name="color" id="color-select">
    <option value="">--Select a Color--</option>
    <option value="blue">blue</option>
    <option value="green">green</option>ellow
    <option value="red">red</option>
    <option value="orange">orange</option>
    <option value="yellow">yellow</option>
    </select>
            
    </div>

    <button class="ui black basic button">Submit</button>
    </form>
    
</div>

<% include ./partials/footer %>